/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
      display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #c4dfe6, #07575b);
  }
  header {
    background-color: #c4dfe6;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header-icon {
    background-image:url("hanepen.png");
    background-size:contain;
    width:50px;
    height:50px;
    padding: 10px;
    margin: 10px;
  }

  p.web_title {
    font-family: 'Itim', cursive;
    font-family: 'Pacifico', cursive;
}

  header a {
    color:#696969; 
    text-decoration: none; 
  }
  header h1 {
    color: #696969;
  }

  header ul{
    display: flex;
    justify-content: center;
  }

  .header-list {
    padding: 1.9rem 4rem 1.9rem 1.9rem;
    pointer-events: auto;
    text-align: right;
    justify-content: flex-end;
    width: 25%;
    margin-left: auto;
    display: inline-block;
  
  }

  .header-list form {
    background-color: #ffffff;
  }

  .menu{
    white-space: nowrap;
  }

  header li {
    list-style: none;
    margin-right: 40px;
    display: inline-block;
    font-family: constantia,sans-serif;
    
  }

  footer {
    color: white;
    height: 30px;
    background-color: #000;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
  }