.tweets-container {
    
  }
  h3 {
    
  }
  .tweet {
  
    
  }
  .main-box {
    width: 70%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }
  .like {
    border-top: solid #66cdaa;
    margin-top: 10px;
    padding-top: 20px;
  }
  .comment-wrapper{
    width: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
  }